quartz.scheduler.instanceName = QuartzScheduler
quartz.scheduler.instanceId = AUTO
quartz.jobStore.type = Quartz.Impl.AdoJobStore.JobStoreTX, Quartz

quartz.jobStore.dataSource = myDS
quartz.jobStore.tablePrefix = QRTZ_
quartz.jobStore.driverDelegateType = Quartz.Impl.AdoJobStore.SqlServerDelegate, Quartz
quartz.dataSource.myDS.provider = SqlServer
quartz.dataSource.myDS.connectionString = Data Source=(local)\SchedulerLocal;Initial Catalog=Quartz;User ID=sa;Password=q1w2e3r4t5;